.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiListItem-root.Mui-selected {
  background-color: #dd9866 !important;
}

.MuiTypography-body2 {
  @media screen AND (max-width: 900px) {
    font-size: 0.692rem !important;
  }
}

.MuiTypography-body1,
.MuiInputBase-root,
.MuiMenuItem-root {
  font-size: 0.85rem !important;
  @media screen AND (max-width: 900px) {
    font-size: 0.8rem !important;
  }
}

.MuiGrid-item {
  @media screen AND (max-width: 600px) {
    min-width: 70% !important;
  }
}

.MuiGrid-spacing-xs-2 > .MuiGrid-item {
  padding: 4px !important;
}

.MuiButtonBase-root {
  box-shadow: none !important;
}

.MuiInputBase-input {
  text-align: center;
}
